@use '../0.settings/mixins' as *;

.notifications {
    .notification-card {
        border-bottom: size(1) solid var(--mc-gray-300);
        border-radius: 0;
        margin: 0;
        padding: size(12) size(16);

        &:last-child {
            border-bottom: 0;
        }

        .mc-card__title {
            display: none;
        }

        .mc-card__content {
            display: grid;
            gap: 0 size(12);
            grid-template-columns: size(28) 1fr;
        }

        .avatar {
            align-items: center;
            background-color: var(--mc-gray-100);
            border-radius: 50%;
            display: flex;
            height: size(28);
            justify-content: center;
            margin: 0;
            overflow: hidden;
            width: size(28);

            svg {
                font-size: size(14);
            }

            img {
                width: 100%;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: size(10);

            &__header {
                display: flex;
                flex-direction: column;
                gap: size(4);

                .title {
                    font-size: size(14);
                    font-weight: 400;
                    line-height: size(20);
                    margin: 0;
                    word-break: break-word;

                    a {
                        color: var(--mc-low-500);
                        display: contents;
                        font-weight: 600;
                        margin: 0;
                        padding: 0;
                        text-decoration: none;
                    }
                }

                .title strong,
                .title b {
                    font-weight: 600;
                }

                .subtitle {
                    color: var(--mc-gray-600);
                    font-size: size(12);
                    line-height: size(16);
                    margin: 0;
                }
            }

            &__groupButtons {
                align-items: center;
                display: flex;
                gap: size(8);
                justify-content: flex-end;
                width: 100%;

                .button {
                    align-items: center;
                    display: inline-flex;
                    font-size: size(14);
                    justify-content: center;
                    min-height: size(34);
                    padding: size(6) size(14);
                    width: size(92);
                }

            }
        }

        &.divider {
            border-top: 0;
            margin: 0;
            padding: size(12) size(16);
            border-radius: 0;

            &__divider:last-child {
                border-bottom: 1px solid #000;
                margin-bottom: 0;
            }

            .mc-card__content {
                gap: size(0) size(12);
            }
        }
    }

    &.tab-component {
        .notification-card {
            border-radius: var(--mc-border-radius-xs);
            border: none;

            .content {
                gap: size(24);

                &__header {
                    gap: size(8);
                }
            }
        }        
    }
}
