@use '../0.settings/mixins'as *;

.registration-form {
    &__section {
        margin-bottom: size(16);

        >.mc-card__title {
            font-size: $font-size-md;
            font-weight: $font-weight-bold;
        }

        >.mc-card__content {
            gap: size(32);
        }
    }

    .mc-multiselect { 
        width: 100%;
    }

}
.document-type {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;

    label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-weight: 600;
        color: #0057AA;
        font-size: 14px;

        input[type="radio"] {
            width: 18px;
            height: 18px;
            accent-color: #0057AA;
            cursor: pointer;
        }
    }
}
